.App {
  text-align: center;
  height: 70vh;
}

.App-logo {
  width: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #323e48;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serverErrorCode {
  color: #21c0d6;
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: 0;
}

.serverError{
  color: #323E48;
  margin-top: 100px;

}
.text{
  max-width: 640px;
  background-color:#ebebeb ;
  padding: 30px;
  text-align: left;
}

.yesNo{
  margin: 3px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.button{
  padding: 10px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #573283;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.button:disabled {
  background-color: #a9a9a9; /* Grey background when disabled */
  color: #666666; /* Grey text color when disabled */
  cursor: not-allowed; /* Change cursor to indicate disabled */
}

.caption{
  display: block;
  color: red;
  font-size: 13px;
}


